* {
    box-sizing: border-box;
}

html {
    font-family: $fm-stack;
    font-size: $fs-main;
    font-weight: $fw-bold;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 960px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

.section-title {
    font-size: $fs-heading;
    font-weight: $fw-bold;
}
.section-text {
    font-size: $fs-text;
    font-weight: $fw-medium;
}
