.header {

    &__container {
    }

    &__burger {
    }

    &__burger-line {
    }

    &__nav {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-secondary;
    }

    &__item {
        min-height: 87px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform $animation ease-out;
    }

    &__link {
        color: $color-secondary;
        transition: color, transform $animation ease-out;
        &:hover {
            color: $color-main;
            transform: scale(1.2);
            text-shadow: 0 0 1px rgba(0, 0, 0, .4);
        }
        &:active {
            transform: translate(1px, 2px);
        }
    }
}



@media (max-width: 767px) {
    .header {
        &__nav {}
    }

    .burger {
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
    }
    .burger span {
        position: absolute;
        left: 0;
        top: 9px;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-main;
        transition: opacity $animation ease-in-out;
    }

    .burger::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-main;
        transition: transform $animation ease-in-out;
    }

    .burger::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $color-main;
        transition: transform $animation ease-in-out;
    }

    .burger.active span {
        opacity: 0;
    }
    .burger.active::before {
        transition: transform $animation ease-in-out;
        transform: rotate(45deg);
        top: 9px;
    }
    .burger.active::after {
        transition: transform $animation ease-in-out;
        transform: rotate(-45deg);
        bottom: 9px;
    }
}