.header {

    &__container {
        display: flex;
        align-items: center;
        height: 87px;
    }

    &__nav {
        height: 100%;
        width: 100%;
        border-bottom: 1px solid $color-secondary;
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        color: $color-secondary;
        transition: transform 0.3s ease-out;
        &:hover {
            transform: scale(1.2);
        }
    }

    &__link {
        color: inherit;
        transition: color 0.3s ease-out;
        &:hover {
            color: $color-main;
        }
    }
}