.section-skill {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
        margin-top: 70px;
    }

    &__list {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.skill-item {
    &__img {
        width: 90px;
        height: 90px;
        margin-bottom: 24px;
    }

    &__subtitle {
        font-size: $fs-subtext;
        font-weight: $fw-bold;
        color: $color-secondary;
        margin-bottom: 40px;
    }

    &__stars {
        display: flex;
        flex-wrap: wrap;
    }
}
.stars-img {
    &:not(:last-child) {
        margin-right: 10px;
    }

}

@media (max-width: 767px) {
    .section-skill {
        &__container {
            padding-top: 80px;
            padding-bottom: 100px;
        }

        &__text {
            margin-top: 50px;
        }
    
        &__list {
            margin-top: 80px;
            flex-flow: column wrap;
        }
    
        &__item {
            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }
}