//*backgraund-color
$bg-main: #fff;
$bg-secondary: #f6f6f6;
//*color
$color-main: #070707;
$color-secondary: #828282;


//*font-family
$fm-stack: "Gilroy", sans-serif;

//*font-size
$fs-name: 48px;
$fs-heading: 34px;
$fs-text: 18px;
$fs-subtext: 14px;
$fs-main: 18px;
$fs-lang:16px;

//*font-weight
$fw-bold: 700;
$fw-medium: 500;

$animation: 0.3s;
