$main-bg: #fff;
$secondary-bg: #f6f6f6;

$main-color: #070707;
$secondary-color: #828282;

$font-stack: "Gilroy", sans-serif;

$font-size-heading: 34px;
$font-size-text: 18px;
$font-size-subtext: 14px;
